@font-face {
  font-family: "robotolight";
  src: url("../fonts/Roboto-Light-webfont.eot");
  src: url("../fonts/Roboto-Light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Roboto-Light-webfont.woff") format("woff"),
    url("../fonts/Roboto-Light-webfont.ttf") format("truetype"),
    url("../fonts/Roboto-Light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotoregular";
  src: url("../fonts/Roboto-Regular-webfont.eot");
  src: url("../fonts/Roboto-Regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Roboto-Regular-webfont.woff") format("woff"),
    url("../fonts/Roboto-Regular-webfont.ttf") format("truetype"),
    url("../fonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotobold";
  src: url("../fonts/Roboto-Bold-webfont.eot");
  src: url("../fonts/Roboto-Bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Roboto-Bold-webfont.woff") format("woff"),
    url("../fonts/Roboto-Bold-webfont.ttf") format("truetype"),
    url("../fonts/Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*---------------------------------------------------------
 1. Reset
-------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

button,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button {
  line-height: normal;
}

button {
  cursor: pointer;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

/*---------------------------------------------------------
 2. Basic Style
-------------------------------------------------------- */
body {
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  font-family: "robotolight";
  background: #333333;
}

@media screen and (max-width: 768px) {
  body {
    align-content: center;
  }
}

a {
  color: #dd9f4e;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  text-decoration: none !important;
}

a:hover {
  color: white;
}

h1,
h2,
h3,
h4,
h5 {
  color: white;
}

.site-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 0;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#menu-container {
  position: relative;
  z-index: 11px;
}

@media screen and (max-width: 768px) {
  #menu-container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 992px) {
  #menu-container {
    padding-bottom: 0;
  }
}

.content {
  display: none;
}

span.blue {
  color: #3a8df5;
}

span.green {
  color: #21c639;
}

.page-top {
  margin-top: 1px;
  background: rgba(138, 155, 162, 0.5);
  padding: 20px 0;
  margin-bottom: 60px;
}

.page-top h1 {
  font-size: 18px;
  font-family: "robotobold";
  text-transform: uppercase;
}

h2.subtitle {
  font-size: 32px;
  font-family: "robotobold";
  text-transform: uppercase;
  margin-bottom: 60px;
}

/*---------------------------------------------------------
 3. Header
-------------------------------------------------------- */
.site-header {
  position: relative;
  z-index: 10;
  background: white;
  height: 80px;
  line-height: 80px;
}

.site-header .phone {
  color: #dd9f4e;
}

.site-header .phone i {
  margin-right: 10px;
}

.site-header .phone a:hover {
  color: #3a8df5;
}

.site-header .phone a:focus {
  color: #dd9f4e;
}

.site-header .mail {
  color: #dd9f4e;
}

.site-header .email:hover {
  color: #3a8df5;
}

.site-header .email:focus {
  color: #dd9f4e;
}

.site-header .mail i {
  margin-right: 10px;
  margin-left: 20px;
}

.logo-holder {
  text-align: center;
}

.logo-holder .site-brand {
  text-transform: uppercase;
  font-family: "robotobold";
  font-size: 24px;
  color: #222;
}

.logo-holder .site-brand span {
  color: #aaaaaa;
}

@media screen and (max-width: 768px) {
  .logo-holder {
    text-align: left;
  }
}

.social-icons-header {
  text-align: right;
}

.social-icons-header li {
  display: inline-block;
  margin-left: 15px;
}

.social-icons-header li a {
  font-size: 16px;
  color: #777777;
}

.social-icons-header li a:hover {
  color: #dd9f4e;
}

@media screen and (max-width: 768px) {
  .social-icons-header li {
    margin-left: 10px;
  }
}

.desktop-menu {
  padding: 80px 0 50px 0;
  background: rgba(138, 155, 162, 0.5);
  position: relative;
  z-index: 14;
}

@media screen and (max-width: 1200px) {
  .desktop-menu {
    background: #8a9ba2;
    padding: 60px 0 30px 0;
  }
}

@media screen and (max-width: 992px) {
  .desktop-menu {
    background: #8a9ba2;
    padding: 30px 0 30px 0;
  }
}

.main-menu a {
  margin-left: 30px;
  border: 1px solid white;
  display: block;
  text-align: center;
  position: relative;
  height: 60px;
  line-height: 60px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}

@media screen and (max-width: 992px) {
  .main-menu a {
    display: block;
    width: 100%;
    margin: 0;
  }
}

.main-menu a .menu-icon {
  position: absolute;
  top: -30px;
  left: -30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border: 1px solid white;
  background: #8a9ba2;
  font-size: 20px;
}

@media screen and (max-width: 992px) {
  .main-menu a .menu-icon {
    display: none;
  }
}

.responsive-menu {
  position: relative;
  z-index: 20;
}

.responsive-menu .toggle-menu {
  color: white;
  background: #dd9f4e;
  font-size: 18px;
  display: block;
  text-align: center;
  padding: 20px;
  border: 0;
}

.responsive-menu .show-menu {
  display: none;
}

.responsive-menu li {
  margin-top: 1px;
}

.responsive-menu li a {
  border: 0;
  background: rgba(138, 155, 162, 0.4);
}

/*---------------------------------------------------------
 4. Main Content
-------------------------------------------------------- */
/*------ home ------ */
.home-section {
  margin-bottom: 70px;
}

@media screen and (max-width: 992px) {
  .home-section {
    margin-bottom: -70px;
  }
}

@media screen and (max-width: 768px) {
  .home-section {
    margin-bottom: 40px;
  }
}

.home-block {
  position: relative;
  color: white;
  margin-left: 100px;
  margin-top: 100px;
}

@media screen and (max-width: 992px) {
  .home-block {
    margin-bottom: 160px;
  }
}

@media screen and (max-width: 768px) {
  .home-block {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 40px;
  }
}

.home-block .thumb-it {
  width: 200px;
  height: 200px;
  border: 1px solid white;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 1);
  overflow: hidden;
  position: absolute;
  top: -100px;
  left: -100px;
}

.home-block .thumb-it img {
  display: block;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .home-block .thumb-it {
    position: relative;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
  }
}

.home-block .block-content {
  padding: 30px;
  padding-left: 130px;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.1);
}

.home-block .block-content p {
  margin-top: 25px;
}

@media screen and (max-width: 768px) {
  .home-block .block-content {
    padding-left: 30px;
  }
}

.home-block h3 {
  font-size: 16px;
  font-family: "robotobold";
}

.home-block .subtitle {
  display: block;
  margin-top: 10px;
  font-size: 13px;
}

.logoPergaud {
  height: 105%;
  width: auto;
}

.home-block .phone {
  color: #dd9f4e;
}

.home-block .phone a:focus {
  color: #dd9f4e;
}

.home-block .map:focus {
  color: #dd9f4e;
}
.home-block .lycee-link {
  color: #dd9f4e;
}

.block-content .lycee-link a:hover {
  color: #3a8df5;
}
/*------ info ------ */
.info-section {
  margin-bottom: 70px;
}

@media screen and (max-width: 992px) {
  .info-section {
    margin-bottom: -70px;
  }
}

@media screen and (max-width: 768px) {
  .info-section {
    margin-bottom: 40px;
  }
}

.info-block {
  position: relative;
  color: white;
  margin-left: 100px;
  margin-top: 100px;
}

@media screen and (max-width: 992px) {
  .info-block {
    margin-bottom: 160px;
  }
}

@media screen and (max-width: 768px) {
  .info-block {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 40px;
  }
}

.info-block .thumb-it {
  width: 200px;
  height: 200px;
  border: 1px solid white;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 1);
  overflow: hidden;
  position: absolute;
  top: -100px;
  left: -100px;
}

.info-block .thumb-it img {
  display: block;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .info-block .thumb-it {
    position: relative;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
  }
}

.info-block .block-content {
  padding: 30px;
  padding-left: 130px;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.1);
}

.info-block .block-content p {
  margin-top: 25px;
}

@media screen and (max-width: 768px) {
  .info-block .block-content {
    padding-left: 30px;
  }
}

.info-block h3 {
  font-size: 16px;
  font-family: "robotobold";
}

.info-block .subtitle {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  color: #dd9f4e;
}

.info-block .certification:focus {
  color: #dd9f4e;
}

.info-block .certification:hover {
  color: #dd9f4e;
}

.info-block .cv {
  font-size: 13px;
}

/*------ projects ------ */
.project-block {
  margin-bottom: 140px;
  position: relative;
  color: white;
  margin-right: 30px;
}

@media screen and (max-width: 768px) {
  .project-block {
    margin-bottom: 40px;
    margin-right: 0;
  }
}

.project-block .thumb-it {
  border: 1px solid white;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 1);
  overflow: hidden;
  position: relative;
  z-index: 20;
  margin-right: 60px;
}

.project-block .thumb-it img {
  width: 100%;
  display: block;
}

@media screen and (max-width: 768px) {
  .project-block .thumb-it {
    margin-right: 0;
  }
}

.project-block .block-content {
  padding: 30px;
  padding-top: 60px;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  bottom: -70px;
  right: -30px;
  z-index: 19;
}

.project-block .block-content h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "robotobold";
}

.project-block .block-content h3 a {
  color: white;
}

@media screen and (max-width: 768px) {
  .project-block .block-content {
    position: relative;
    bottom: 0;
    right: 0;
    padding-top: 30px;
    border-top: 0;
  }
}

/*------ twatch ------ */
.twatch-section {
  margin-bottom: 60px;
}

.twatch-block {
  position: relative;
  margin-top: 100px;
  margin-left: 100px;
}

.twatch-iframe {
  width: 550px;
  height: 550px;
  position: relative;
  right: 130px;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .twatch-block {
    margin-top: 0;
    margin-left: 0;
  }
}

.twatch-block .thumb-it {
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 1);
  width: 200px;
  height: 200px;
  position: absolute;
  top: -100px;
  left: -100px;
  z-index: 11;
}

.twatch-block .thumb-it img {
  width: 100%;
  display: block;
}

@media screen and (max-width: 768px) {
  .twatch-block .thumb-it {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
  }
}

.twatch-block .block-content {
  position: relative;
  z-index: 10;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 30px;
  padding-left: 105px;
}

.twatch-block .block-content-lmi {
  position: relative;
  border: 1px solid white;
  z-index: 10;
  color: white;
  padding: 0px;
  padding-left: 30px;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
}

@media screen and (max-width: 768px) {
  .twatch-block .twatch-iframe {
    padding: 30px;
    position: relative;
    width: 365px;
    height: 365px;
    margin: auto;
  }
}

.twatch-block h3 {
  font-size: 16px;
  font-family: "robotobold";
}

.twatch-block p {
  margin-top: 25px;
}

.twatch-block .site_twatch:focus {
  color: #dd9f4e;
}

.mostly-customized-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: white; /* or add it to the track */
}

/* Add a thumb */
.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
  background: #dd9f4e;
}

/*---------------------------------------------------------
 5. Footer
-------------------------------------------------------- */
.copyright-text {
  position: relative;
  z-index: 12;
  padding: 10px 0;
  color: white;
}

.copyright-text a {
  color: #dd9f4e;
}
